body {
margin:0;
overflow:hidden;
}

#bar{
position:absolute;
top: 0px;
left: 0px;
z-index:999;
height: 50px;
line-height: 50px;
width: 100%;
background-color: #ffffff;
text-transform: lowercase;
color: #0072C8 !important;
font-family:Arial;
font-weight:bold;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #555555;
    color: white;
}
